<?xml version="1.0" encoding="utf-8"?>
<ArrayOfCControl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonForm</Tipo>
    <esFormulario>true</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>~ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>~ValuesExtraText</Sufijo>
      </cPropiedad>      
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonCheckBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>~ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>~ValuesExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonCheckButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>~ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>~ValuesExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonColorButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>~ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>~ExtraText</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.MoreColors</Propiedad>
        <Sufijo>~StringsMoreColors</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.NoColor</Propiedad>
        <Sufijo>~StringsNoColor</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.RecentColors</Propiedad>
        <Sufijo>~StringsRecentColors</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.StandardColors</Propiedad>
        <Sufijo>~StringsStandardColors</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.ThemeColors</Propiedad>
        <Sufijo>~StringsThemeColors</Sufijo>
      </cPropiedad>                                          
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuItem</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>~ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuHeading</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>~ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>      

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuCheckBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>~ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>      

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuCheckButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>~ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuRadioButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>~ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuLinkLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>~ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuMonthCalendar</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.TodayText</Propiedad>
        <Sufijo>~TodayText</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonDateTimePicker</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.CalendarTodayText</Propiedad>
        <Sufijo>~CalendarTodayText</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>   

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonDropButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>~ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>~ValuesExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>       

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonGroupBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Heading</Propiedad>
        <Sufijo>~ValuesHeading</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.Description</Propiedad>
        <Sufijo>~ValuesDescription</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>       

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonHeader</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Heading</Propiedad>
        <Sufijo>~ValuesHeading</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.Description</Propiedad>
        <Sufijo>~ValuesDescription</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonHeaderGroup</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.ValuesPrimary.Heading</Propiedad>
        <Sufijo>~ValuesHeading</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ValuesPrimary.Description</Propiedad>
        <Sufijo>~ValuesDescription</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.ValuesSecondary.Heading</Propiedad>
        <Sufijo>~ValuesHeading</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ValuesSecondary.Description</Propiedad>
        <Sufijo>~ValuesDescription</Sufijo>
      </cPropiedad>                  
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonLinkLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonManager</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Abort</Propiedad>
        <Sufijo>~GlobalStringsAbort</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Cancel</Propiedad>
        <Sufijo>~GlobalStringsCancel</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Close</Propiedad>
        <Sufijo>~GlobalStringsClose</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Ignore</Propiedad>
        <Sufijo>~GlobalStringsIgnore</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.No</Propiedad>
        <Sufijo>~GlobalStringsNo</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.OK</Propiedad>
        <Sufijo>~GlobalStringsOK</Sufijo>
      </cPropiedad>                              
      <cPropiedad>
        <Propiedad>.GlobalStrings.Retry</Propiedad>
        <Sufijo>~GlobalStringsRetry</Sufijo>
      </cPropiedad>                              
      <cPropiedad>
        <Propiedad>.GlobalStrings.Today</Propiedad>
        <Sufijo>~GlobalStringsToday</Sufijo>
      </cPropiedad>                              
      <cPropiedad>    
        <Propiedad>.GlobalStrings.Yes</Propiedad>
        <Sufijo>~GlobalStringsYes</Sufijo>
      </cPropiedad>                              
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonManager(Me.components)</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Abort</Propiedad>
        <Sufijo>~GlobalStringsAbort</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Cancel</Propiedad>
        <Sufijo>~GlobalStringsCancel</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Close</Propiedad>
        <Sufijo>~GlobalStringsClose</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Ignore</Propiedad>
        <Sufijo>~GlobalStringsIgnore</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.No</Propiedad>
        <Sufijo>~GlobalStringsNo</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.OK</Propiedad>
        <Sufijo>~GlobalStringsOK</Sufijo>
      </cPropiedad>                              
      <cPropiedad>
        <Propiedad>.GlobalStrings.Retry</Propiedad>
        <Sufijo>~GlobalStringsRetry</Sufijo>
      </cPropiedad>                              
      <cPropiedad>
        <Propiedad>.GlobalStrings.Today</Propiedad>
        <Sufijo>~GlobalStringsToday</Sufijo>
      </cPropiedad>                              
      <cPropiedad>    
        <Propiedad>.GlobalStrings.Yes</Propiedad>
        <Sufijo>~GlobalStringsYes</Sufijo>
      </cPropiedad>                              
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonRadioButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>~ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>~ValuesExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>         

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonWrapLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Navigator.KryptonNavigator</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Navigator.KryptonPage</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>true</conUniqueName>
    <rutaUniqueName>.UniqueName</rutaUniqueName>
    <sufijoUniqueName>~KryptonPage</sufijoUniqueName>
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.TextDescription</Propiedad>
        <Sufijo>~TextDescription</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.TextTitle</Propiedad>
        <Sufijo>~TextTitle</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ToolTipBody</Propiedad>
        <Sufijo>~ToolTipBody</Sufijo>
      </cPropiedad>                  
      <cPropiedad>
        <Propiedad>.ToolTipTitle</Propiedad>
        <Sufijo>~ToolTipTitle</Sufijo>
      </cPropiedad>                        
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>ComponentFactory.Krypton.Ribbon.KryptonRibbon</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.RibbonStrings.CustomizeQuickAccessToolbar</Propiedad>
        <Sufijo>~RibbonStringsCustomizeQuickAccessToolbar</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.RibbonStrings.Minimize</Propiedad>
        <Sufijo>~RibbonStringsMinimize</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.RibbonStrings.MoreColors</Propiedad>
        <Sufijo>~RibbonStringsMoreColors</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.RibbonStrings.NoColor</Propiedad>
        <Sufijo>~RibbonStringsNoColor</Sufijo>
      </cPropiedad>                  
      <cPropiedad>
        <Propiedad>.RibbonStrings.RecentColors</Propiedad>
        <Sufijo>~RibbonStringsRecentColors</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.RecentDocuments</Propiedad>
        <Sufijo>~RibbonStringsRecentDocuments</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.ShowAboveRibbon</Propiedad>
        <Sufijo>~RibbonStringsShowAboveRibbon</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.ShowBelowRibbon</Propiedad>
        <Sufijo>~RibbonStringsShowBelowRibbon</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.ShowQATAboveRibbon</Propiedad>
        <Sufijo>~RibbonStringsShowQATAboveRibbon</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.ShowQATBelowRibbon</Propiedad>
        <Sufijo>~RibbonStringsShowQATBelowRibbon</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.StandardColors</Propiedad>
        <Sufijo>~RibbonStringsStandardColors</Sufijo>
      </cPropiedad>                                                            
      <cPropiedad>
        <Propiedad>.RibbonStrings.ThemeColors</Propiedad>
        <Sufijo>~RibbonStringsThemeColors</Sufijo>
      </cPropiedad>                                                            
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>ComponentFactory.Krypton.Ribbon.KryptonRibbonGroup</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Ribbon.KryptonRibbonGroupButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.TextLine1</Propiedad>
        <Sufijo>~TextLine1</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.TextLine2</Propiedad>
        <Sufijo>~TextLine2</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ToolTipBody</Propiedad>
        <Sufijo>~ToolTipBody</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.ToolTipTitle</Propiedad>
        <Sufijo>~ToolTipTitle</Sufijo>
      </cPropiedad>                  
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.ButtonSpecAny</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>true</conUniqueName>
    <rutaUniqueName>.UniqueName</rutaUniqueName>
    <sufijoUniqueName>~ButtonSpecAny</sufijoUniqueName>
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>~ExtraText</Sufijo>
      </cPropiedad>      
      <cPropiedad>
        <Propiedad>.ToolTipBody</Propiedad>
        <Sufijo>~ToolTipBody</Sufijo>
      </cPropiedad>                  
      <cPropiedad>
        <Propiedad>.ToolTipTitle</Propiedad>
        <Sufijo>~ToolTipTitle</Sufijo>
      </cPropiedad>                        
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>System.Windows.Forms.Form</Tipo>
    <esFormulario>true</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>System.Windows.Forms.Button</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.CheckBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl> 

  <cControl>
    <Tipo>System.Windows.Forms.GroupBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl> 

  <cControl>
    <Tipo>System.Windows.Forms.Label</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>System.Windows.Forms.LinkLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>System.Windows.Forms.ToolStrip</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.ToolStripButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.ToolStripLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>   
  
  <cControl>
    <Tipo>System.Windows.Forms.ToolStripSplitButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>System.Windows.Forms.ToolStripMenuItem</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>      

  <cControl>
    <Tipo>System.Windows.Forms.ToolStripDropDownItem</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>        

  <cControl>
    <Tipo>System.Windows.Forms.ToolStripDropDownButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.ContextMenuStrip</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>System.Windows.Forms.ContextMenuStrip(Me.components)</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>    


  <cControl>
    <Tipo>System.Windows.Forms.NotifyIcon</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.BalloonTipTitle</Propiedad>
        <Sufijo>~BalloonTipTitle</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.BalloonTipText</Propiedad>
        <Sufijo>~BalloonTipText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.RadioButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>      

  <cControl>
    <Tipo>System.Windows.Forms.StatusStrip</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>     

   <cControl>
    <Tipo>System.Windows.Forms.ToolStripStatusLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>      

   <cControl>
    <Tipo>System.Windows.Forms.ToolStripDropDownButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl> 

   <cControl>
    <Tipo>System.Windows.Forms.ToolStripSplitButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>     

   <cControl>
    <Tipo>System.Windows.Forms.TabPage</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>~Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>        

</ArrayOfCControl>