<?xml version="1.0" encoding="utf-8"?>
<ArrayOfCControl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>_ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>_ValuesExtraText</Sufijo>
      </cPropiedad>      
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonCheckBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>_ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>_ValuesExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonCheckButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>_ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>_ValuesExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonColorButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>_ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>_ExtraText</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.MoreColors</Propiedad>
        <Sufijo>_StringsMoreColors</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.NoColor</Propiedad>
        <Sufijo>_StringsNoColor</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.RecentColors</Propiedad>
        <Sufijo>_StringsRecentColors</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.StandardColors</Propiedad>
        <Sufijo>_StringsStandardColors</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.Strings.ThemeColors</Propiedad>
        <Sufijo>_StringsThemeColors</Sufijo>
      </cPropiedad>                                          
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuItem</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>_ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuHeading</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>_ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>      

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuCheckBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>_ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>      

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuCheckButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>_ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuRadioButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>_ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuLinkLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ExtraText</Propiedad>
        <Sufijo>_ExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonContextMenuMonthCalendar</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.TodayText</Propiedad>
        <Sufijo>_TodayText</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonDateTimePicker</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.CalendarTodayText</Propiedad>
        <Sufijo>_CalendarTodayText</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>   

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonDropButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>_ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>_ValuesExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>       

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonGroupBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Heading</Propiedad>
        <Sufijo>_ValuesHeading</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.Description</Propiedad>
        <Sufijo>_ValuesDescription</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>       

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonHeader</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Heading</Propiedad>
        <Sufijo>_ValuesHeading</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.Description</Propiedad>
        <Sufijo>_ValuesDescription</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>     

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonHeaderGroup</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.ValuesPrimary.Heading</Propiedad>
        <Sufijo>_ValuesHeading</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ValuesPrimary.Description</Propiedad>
        <Sufijo>_ValuesDescription</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.ValuesSecondary.Heading</Propiedad>
        <Sufijo>_ValuesHeading</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ValuesSecondary.Description</Propiedad>
        <Sufijo>_ValuesDescription</Sufijo>
      </cPropiedad>                  
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonLinkLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonManager</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Abort</Propiedad>
        <Sufijo>_GlobalStringsAbort</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Cancel</Propiedad>
        <Sufijo>_GlobalStringsCancel</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Close</Propiedad>
        <Sufijo>_GlobalStringsClose</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.Ignore</Propiedad>
        <Sufijo>_GlobalStringsIgnore</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.No</Propiedad>
        <Sufijo>_GlobalStringsNo</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.GlobalStrings.OK</Propiedad>
        <Sufijo>_GlobalStringsOK</Sufijo>
      </cPropiedad>                              
      <cPropiedad>
        <Propiedad>.GlobalStrings.Retry</Propiedad>
        <Sufijo>_GlobalStringsRetry</Sufijo>
      </cPropiedad>                              
      <cPropiedad>
        <Propiedad>.GlobalStrings.Today</Propiedad>
        <Sufijo>_GlobalStringsToday</Sufijo>
      </cPropiedad>                              
      <cPropiedad>    
        <Propiedad>.GlobalStrings.Yes</Propiedad>
        <Sufijo>_GlobalStringsYes</Sufijo>
      </cPropiedad>                              
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonRadioButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Values.Text</Propiedad>
        <Sufijo>_ValuesText</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.Values.ExtraText</Propiedad>
        <Sufijo>_ValuesExtraText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>         

  <cControl>
    <Tipo>ComponentFactory.Krypton.Toolkit.KryptonWrapLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Navigator.KryptonNavigator</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Navigator.KryptonPage</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>true</conUniqueName>
    <rutaUniqueName>.UniqueName</rutaUniqueName>
    <sufijoUniqueName>_KryptonPage</sufijoUniqueName>
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.TextDescription</Propiedad>
        <Sufijo>_TextDescription</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.TextTitle</Propiedad>
        <Sufijo>_TextTitle</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ToolTipBody</Propiedad>
        <Sufijo>_ToolTipBody</Sufijo>
      </cPropiedad>                  
      <cPropiedad>
        <Propiedad>.ToolTipTitle</Propiedad>
        <Sufijo>_ToolTipTitle</Sufijo>
      </cPropiedad>                        
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>ComponentFactory.Krypton.Ribbon.KryptonRibbon</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.RibbonStrings.CustomizeQuickAccessToolbar</Propiedad>
        <Sufijo>_RibbonStringsCustomizeQuickAccessToolbar</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.RibbonStrings.Minimize</Propiedad>
        <Sufijo>_RibbonStringsMinimize</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.RibbonStrings.MoreColors</Propiedad>
        <Sufijo>_RibbonStringsMoreColors</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.RibbonStrings.NoColor</Propiedad>
        <Sufijo>_RibbonStringsNoColor</Sufijo>
      </cPropiedad>                  
      <cPropiedad>
        <Propiedad>.RibbonStrings.RecentColors</Propiedad>
        <Sufijo>_RibbonStringsRecentColors</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.RecentDocuments</Propiedad>
        <Sufijo>_RibbonStringsRecentDocuments</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.ShowAboveRibbon</Propiedad>
        <Sufijo>_RibbonStringsShowAboveRibbon</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.ShowBelowRibbon</Propiedad>
        <Sufijo>_RibbonStringsShowBelowRibbon</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.ShowQATAboveRibbon</Propiedad>
        <Sufijo>_RibbonStringsShowQATAboveRibbon</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.ShowQATBelowRibbon</Propiedad>
        <Sufijo>_RibbonStringsShowQATBelowRibbon</Sufijo>
      </cPropiedad>                        
      <cPropiedad>
        <Propiedad>.RibbonStrings.StandardColors</Propiedad>
        <Sufijo>_RibbonStringsStandardColors</Sufijo>
      </cPropiedad>                                                            
      <cPropiedad>
        <Propiedad>.RibbonStrings.ThemeColors</Propiedad>
        <Sufijo>_RibbonStringsThemeColors</Sufijo>
      </cPropiedad>                                                            
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>ComponentFactory.Krypton.Ribbon.KryptonRibbonGroup</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>ComponentFactory.Krypton.Ribbon.KryptonRibbonGroupButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.TextLine1</Propiedad>
        <Sufijo>_TextLine1</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.TextLine2</Propiedad>
        <Sufijo>_TextLine2</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.ToolTipBody</Propiedad>
        <Sufijo>_ToolTipBody</Sufijo>
      </cPropiedad>            
      <cPropiedad>
        <Propiedad>.ToolTipTitle</Propiedad>
        <Sufijo>_ToolTipTitle</Sufijo>
      </cPropiedad>                  
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.Button</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.CheckBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl> 

  <cControl>
    <Tipo>System.Windows.Forms.GroupBox</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl> 

  <cControl>
    <Tipo>System.Windows.Forms.Label</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>System.Windows.Forms.LinkLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>

  <cControl>
    <Tipo>System.Windows.Forms.ToolStrip</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.ToolStripButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.ToolStripLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>   
  
  <cControl>
    <Tipo>System.Windows.Forms.ToolStripSplitButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>System.Windows.Forms.ToolStripMenuItem</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>      

  <cControl>
    <Tipo>System.Windows.Forms.ToolStripDropDownButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.ContextMenuStrip</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>    

  <cControl>
    <Tipo>System.Windows.Forms.NotifyIcon</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.BalloonTipTitle</Propiedad>
        <Sufijo>_BalloonTipTitle</Sufijo>
      </cPropiedad>
      <cPropiedad>
        <Propiedad>.BalloonTipText</Propiedad>
        <Sufijo>_BalloonTipText</Sufijo>
      </cPropiedad>            
    </Propiedades>
  </cControl>  

  <cControl>
    <Tipo>System.Windows.Forms.RadioButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>      

  <cControl>
    <Tipo>System.Windows.Forms.StatusStrip</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>     

   <cControl>
    <Tipo>System.Windows.Forms.ToolStripStatusLabel</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>      

   <cControl>
    <Tipo>System.Windows.Forms.ToolStripDropDownButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl> 

   <cControl>
    <Tipo>System.Windows.Forms.ToolStripSplitButton</Tipo>
    <esFormulario>false</esFormulario>
    <conUniqueName>false</conUniqueName>
    <rutaUniqueName />
    <sufijoUniqueName />
    <Propiedades>
      <cPropiedad>
        <Propiedad>.Text</Propiedad>
        <Sufijo>_Text</Sufijo>
      </cPropiedad>
    </Propiedades>
  </cControl>     

</ArrayOfCControl>